<header>
    <a class="logo" href="/home"><img src="/UniChatLogo.png" alt=""></a>
        <div class="nav-links">
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/filters">Explore</a></li>
                <li><a href="/chatBot">Uni-Chat</a></li>
            </ul>
        </div>
</header>
