<!DOCTYPE html>
<html>
   <head>
      <title><%- title %></title>
      <meta name="viewport" content="with=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="main.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="settings.js"></script>
   </head>
   <body>
      <%- include('partials/header.ejs') %>
      <%- body %>
      <%- include('partials/footer.ejs') %>
   </body>
</html>